/* ========= Colores ========= */

/* AZULES */

$eerieBlack: #12142D;
$spaceCadet: #1B2B5A;
$darkBlueGray: #6674A3;

/* ACENTOS */
$dutchOrange: #FF9B00;
$middleYellow: #FFEA00;




/* ========== Animaciones =========*/

$trans: all 0.5s ease-in-out;



/* ============ Media Queries ===========*/

$mobile: 480px;
$medium: 680px;
$tablet: 720px;
$large: 992px;
$xlarge: 1200px;